# Dependencies
node_modules/

# Build output
dist/
build/

# Env
.env
.env.local
.env.*.local
!.env.example

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Coverage
coverage/

# Generated server (selon ton script "clean")
server.js